.timeline{

    position: relative;
    max-width: 1200px;
    margin: 0px auto;
  
    
}

.timeline::after{
content: '';
position: absolute;
width: 6px;
height: 100%;
background: #000;
left: 50%;
top: 0;
margin-left: -2px;
z-index: -1;





}


body{
    background: #b3aeae;
}

.containers{
    animation: card 1s linear forwards;
    }
  
@keyframes card{
0%{
    opacity: 1%;
    transform: translateY(-30px);
}
100%{
    opacity: 100%;
    transform: translateY(0);
}
}
.containers:nth-child(2){

    animation-delay: 2s;
}

@media screen and (max-width:640px){
  
    .timeline::after{
      left: 31px;
      margin-right:0px;
    }

  

   


}


  